@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Xortd</title>
</head>
<body>
<div>
    Go to <a href="https://app.xortd.com">app.xortd.com</a> to create a short url.
</div>
</body>
</html>